{% extends "bootstrap/base.html" %}
{% block content %}

<body onload="getRestaurant('{{ restname }}');mapPlotter('{{ restname }}')">

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  
<div class="header">
    <div class="header-right">
      <a class="active" href="../">Home</a>
    </div>
</div>

<div class="container">
  
  <div>
    <h2>{{ restname }}</h2>      
    <p id="restAddress"></p>
  </div>
</div>
<hr/>
<div class="card text-center">
 
  <div class="card-body" >
      
  
  
<div id = "map" style = "width: 100%; height: 580px"></div>
  <div class="card-footer text-muted">
   
  </div>
</div>


<script src="{{ url_for('static', filename='src/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='src/js/script.js') }}"></script>
<script src="{{ url_for('static', filename='src/js/location.js') }}"></script>


</body>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/style.css') }}">
{% endblock %}
